
.default {
    display: inline-block;
    padding: 0.5em 1.7em;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: darkblue;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.4s;
}

.default:hover {
    background-color: blue;
}

.default:disabled {
    cursor: initial;
    background-color: #d5d5d5;
}

.red {
    background: red;
    color: #fff;
    transition: all 0.5s;
}

.red:hover {
    background-color: yellow;
    color: #000;
}