.default {
    background-color: blue;
    border-radius: 20px;
    border: none;
    height: 35px;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    color:#fff;
    padding: 0 10px ;
    transition: all 0.3s;
}
.default:hover{
    background-color: #928f8f;
}

.default:disabled {
    cursor: initial;
    background-color: #d5d5d5;
}
