.spanLogo{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 45px;
    color: #000;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 44px;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.links a {
    color: rgb(32, 150, 243);
}

.container{
    width: 360px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    border-radius: 5px;
}

.actionsContainer{
    display: flex;
    padding: 8px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.btn__send {
    background-color: blue;
    flex: 0 1 50%;
    height: 35px;
}