.container {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  h2 {
    color: #010142;
    margin: 0;
  }
  span {
    padding: 5px;
    cursor: pointer;
    transition: all 0.4s;
    margin-right: -5px;
    &:hover {
      color: red;
    }
  }
}
.body {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  p{
    font-size: 1.2rem;
    margin-bottom: 7px;
    color:grey;
  }

  input{
    font-size: 1.5rem;
    padding: 5px;
    border-bottom: 2px solid grey;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.btns {
  display: flex;
  justify-content: space-between;
}
.btn {
  flex: 0 1 40%;
  height: 45px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel {
  background-color: #b8b7b7;
  color: darkblue;
  &:hover{
    background-color: #a09e9e;
  }
}